.form-add{
    width: 80%;
    max-width: 410px;
    text-align: left;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin: auto;
    padding: 20px;
}
.form-add div{
    margin: 5px;
}