.App {
  text-align: center;
}

.admin-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: skyblue;
  min-height: 10vh;
  flex-wrap: wrap;
}
.admin-navbar div span{
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
}